@font-face {
    font-family: "WorkSans-Regular";
    src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "WorkSans-Light";
    src: url("../fonts/WorkSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
}