$main-background: #1a1a1a;
$main-font-color: #ffffff;
$textarea-color: #262626;
$textarea-font-color: #e06eac;

$main-font: "WorkSans-Regular", Arial, sans-serif;
$regular-font: "WorkSans-Light", Arial, sans-serif;
$keyboard-font: "SpaceMono", PT Mono, monospace;